.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  
    .title {
      font-size: 36px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
} 

@media screen and (max-width: 1000px) {
  .preview {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
  