.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  
    .title {
      font-size: 36px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
}
  