.collection-page {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
  
    .title {
      font-size: 38px;
      margin: 0 auto 55px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
  
      & .collection-item {
        margin-bottom: 45px;
      }
    }
}

@media screen and (max-width: 1000px) {
  .collection-page {
    width: 750px;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }

  .items {
      display: flex;
      flex-direction: column;
  }
}
  