.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 440px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 15;

  .empty-message {
    font-size: 25px;
    margin: 50px auto;
  }

  .cart-items {
    height: 335px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}